.row{
  width: 100%;
  margin: 0px auto;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  padding-top: 5px;
  }

  .column-middle {
  width: 40%;
  background-color: #f2f2f2;
  border:1px solid #ececec;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px auto;
}

.column-side-r {
  width:25%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  top:65px;
  right: 50px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius:2px;
}


.column-side-l {
  width:25%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  position: fixed;
  top:65px;
  left: 50px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius:2px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.card{
    padding: 10px;
  /* border-bottom: 1px solid; */
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.card-footer{
color: #5d5d5d;
font-size:13px;
}

#posted-question {
    padding: 10px;
    /* border-bottom: 1px solid; */
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ececec;
    margin-bottom: 5px;
}

#posted-question .content{
  margin: 10px 0px;
  padding: 10px 4px;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
  text-align: justify;
}

#posted-question .comment{
  margin: 10px 0px;
  padding: 6px 4px;
  border-top: 1px solid #f5f5f5;
}

#posted-question .card-footer a{
  text-decoration: none;
}

#posted-question .posted-by{
  font-size:13px;
  font-weight: 400;
  color: #5d5d5d;
}

#posted-question .posted-by a{
  text-decoration: none;
  color:#4193d0;
  font-size: 14px;
}

.posted-question-profile{
  font-size: 16px;
}

.posted-question-meetups{
  font-size:16px;
}

.posted-question-meetups a{
  font-size:16px;
  text-decoration: none;
}

.posted-question-comments a{
  font-size:16px;
  text-decoration: none;
}

.mt-b{
  margin: 40px 0px !important;
}
.mt{
  margin-top:-5px;
}

.posted-question-comments{
  font-size:15px;
}

.mr-10{
  margin-right:10px;
}
.card a{
text-decoration: none;
}
.card a:hover{
text-decoration: none;
color: #2774b0;
}
.card-side{
    padding: 10px;
  /* border-bottom: 1px solid; */
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 15px;
  border: 1px solid #f5f5f5;
}
.card-side a{
text-decoration:none;
}

.card-footer-side{
margin-top: 15px;
font-size: 14px;
}

.meetup-card{
background-color:#fff;
text-align:center;
padding:10px 0px;
margin-bottom:18px;
font-size:18px;
font-weight: 600;
border-radius: 2px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
color:#424141;
}

.meetup-title{
font-size: 16px;
font-weight: 600;
}

.meetup-title-page{
  font-size: 20px;
  font-weight: 600;
  }

  .upcoming-meetup{
  background-color:#fff;
  padding:10px 0px;
  margin-bottom:10px;
  font-size:15px;
  font-weight: 400;
  border-bottom: 2px solid #e5e5e5;
  color: #424141;
  }

.upcoming-title{
font-size: 15px;
font-weight: 500;
color: #424141;
}
.view-profile a{
  font-size: 14px;
  text-decoration: none;
  color:#000;
}
.card-footer-side{
margin-top: 15px;
font-size: 14px;
color: #424141;
}
.profile-name{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

#posted-question .comment {
    margin: 10px 0px;
    padding: 6px 4px;
    border-top: 1px solid #f5f5f5;
    color: #424141;
}

.content {
    margin: 10px 0px;
    padding: 10px 4px;
    border: 1px solid #f5f5f5;
    border-left: none;
    border-right: none;
    text-align: justify;
    color: #424141;
}

input, textarea{
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border:1px solid #f2f2f2;
  border-radius: 0px;
  margin: 5px 0px;
  box-sizing: border-box;
  background-color: rgba(247, 247, 247, 0.38);
}
textarea{
  resize: none;
}
.rit{
    float: right;
}

.lef{
    float: left;
}
/*Media queries*/
@media only screen and (min-width:1018px) and (max-width:1057px) {
  .column-middle{
    width: 40%;
    padding: 10px;
    margin: 0px auto;

  }
  .column-side-r, .column-side-r{
      width: 25%;
      padding: 10px;

  }
  .row{
    width: 100%;
    /* padding: 20px 65px; */
    padding-top: 0px;

  }

}

@media only screen and (min-width:860px) and (max-width:1018px) {
  .column-middle{
    width: 40%;
    padding: 10px;
    margin: -62px auto;
  }
  .column-side-l, .column-side-r{
      width: 24%;
      padding: 10px;

  }
  .row{
    width: 100%;
    padding-top: 35px;
    margin:  0px auto;
  }

}
@media screen and (max-width:860px) {
    .column-middle{
      padding-top: 10px;
    width: 100%;
    /* margin: 50px; */
    box-sizing: border-box;
    /* margin-top: 20px; */
    margin: 20px auto;
  }
  .column-side-l{
      position: initial;
      width: 100%;
      margin-top: 20px;
  }

  .column-side-r{
    display: none;
  }
  .row{
    width: 100%;
    padding-top:5px;
  }
}

@media screen and (max-width:766px) {
  .row{
    width: 100%;
    padding-top:30px;
  }
  }
