@import "./usr_dashboard.css";

main .questions {
  width: 50%;

}
main .comments {
  width: 45%;

}
/* div containing vote thumb icons */
.meetup div.vote {
  font-size: 1.2em;
}
i.fa-plus-circle {
  font-size: 1.5em;
}
i.fa.fa-commenting-o {
  font-size: 1.5em;
}